
#naslov {
 text-align:center;
 color:red;
 font-family:Arial;
 font-weight:bold;
 font-size:xx-large;
 margin-top:50px;
 opacity:0;
 transition:5s ease-in;
}
.link {
 text-align:center;
 font-size:large;
 margin-top:50px;
 font-style:italic;
 margin-bottom:50px;
}
a {
 text-decoration:none;
 color:blue;
}
body {
 background-color:#0ff;
}
img {
 width: 600px;
 height:400px;
 display:block;
 margin-left:auto;
 margin-right:auto;
 border-radius:20px;
 margin-bottom:30px;
}
#centar {
 text-align:center;
}
input {
 padding: 10px 20px;
 margin-left: 15px;
 margin-right: 15px;
 border-radius: 10px;
 background-color: orange;
 color: white;
 cursor:pointer;
}
table
{
width:100%;
margin-top:50px;
font-size:large;
font-style:italic;
}
.levo
{
width:50%;
text-align:right;
 color:#0026ff;
}
.desno
{
width:50%;
 text-align:left;
 color:#ff0000;

}
tr {
    height: 35px;
}
#naslov2 {
 text-align:center;
 color:red;
 font-family:Arial;
 font-weight:bold;
 font-size:xx-large;
 margin-top:50px;
