body {
 background-image: url('nebo.jpg');
 background-position: center center;
 background-attachment: fixed;
 font-family:Arial;
}
#naslov {
 font-size: x-large;
 color: #FF6600;
 text-align: center;
 padding:10px;
}
table {
 margin-left:auto;
 margin-right:auto;
 height:50px;
 border-collapse:collapse;
}
.selektovan {
 width:200px;
 background-color: #FF6600;
 text-align:center;
}
.linkovi {
 width:200px;
 background-color: white;
 text-align:center;
}
a {
 text-decoration:none;
}
.bela {
 color:white;
}
plava {
 color:blue;
}
#linija {
 border-left:solid 2px #FF6600;
 border-right:solid 2px #FF6600;
}
#container {
 display:block;
 margin-left:auto;
 margin-right:auto;
 width:610px;
 height:700px;
 background-color:white;
 opacity:0.7;
}
#izbor {
 text-align:center;
 padding:20px;
}
select {
 background-color:#bab8b8;
 padding:3px;
 border-radius:5px;
}
iframe {
 display:block;
 margin-left:auto;
 margin-right:auto;
 width:500px;
 height:600px;
}
#footer {
 color: #FF6600;
 text-align:center;
 padding:20px;
}
p {
 text-align:center;
 padding:20px;
}